
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/AdminLayout.cshtml";
}

@model List<_2018_SG_MVC_BTPROJECT.SG_UI.Areas.AdminPanel.Models.AdminDTO.CategoryVM>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @*<h4 class="card-title">TÜM KATEGORİLER</h4>*@
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RESİM</th>
                                <th>KATEGORİ ADI</th>
                                <th>ÜST KATEGORİ ADI</th>
                                <th>AÇIKLAMA</th>
                                <th class="text-nowrap">DÜZENLE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                <tr>
                    <td>row_@item.Id</td>

                    <td>
                        <a href="javascript:void(0)">
                            <img src="~/Upload/Category/OrjPath/@item.CatImage" alt="user" width="40" class="img-circle" />
                        </a>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.TopCatName</td>
                    <td>@item.Description</td>
                    <td class="text-nowrap">
                        <a href="/AdminPanel/AdminCategory/CategoryDetail/@item.Id" data-toggle="tooltip" data-original-title="Edit">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                        </a>

                        @*<a href="/AdminPanel/AdminCategory/DeleteCategory/@item.Id" data-toggle="modal" data-target="#add-contact" data-original-title="Delete">
                <i class="fa fa-close text-danger"></i>
            </a>*@

                        <a href="#" onclick="ConfirmDelete(@item.Id)" data-toggle="modal" data-target="#add-contact" data-original-title="Delete"><i class="fa fa-close text-danger"></i></a>

                    </td>
                </tr>
}
                        </tbody>

                    </table>

                    <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                                </div>
                                <div class="modal-body">
                                    <from class="form-horizontal form-material">
                                        <div class="form-group">
                                            <label>Silmek istediğinizden emin misiniz?</label>
                                        </div>
                                    </from>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-default" data-dismiss="modal">İptal</a>
                                    <a href="#" class="btn btn-success" onclick="DeleteCategory()">Sil</a>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>


                    <input type="hidden" id="hiddenCategoryId" />

                </div>
            </div>
        </div>



    </div>
</div>


<script>

    var ConfirmDelete = function (Id) {

        $("#hiddenCategoryId").val(Id);
        $("#add-contact").modal('show');

    }

    var DeleteCategory = function () {

        $("#loaderDiv").show();

        var empId = $("#hiddenCategoryId").val();

        $.ajax({

            type: "POST",
            url: "/AdminCategory/DeleteCategory2",
            data: { CategoryId: empId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#add-contact").modal("hide");
                $("#row_" + empId).remove();

            }

        })

    }
</script>
